.main_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.movie_list_box {
  position: relative;
  min-height: 300px;
  width: 100%;
}
.btn_box {
  width: 600px;
  margin: 0px auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.btn_box button {
  font-size: 14px;
  margin: 5px;
  padding: 0px 10px;
  font-family: "Kdam Thmor Pro", sans-serif;
  border: none;
  color: rgb(189, 184, 184);
  background-color: rgb(19, 17, 17);
  cursor: pointer;
}

.btn_box button:hover {
  background-color: rgb(22, 170, 113);
  color: #fff;
}

.title_txt {
  text-align: center;
  display: inline-block;
  margin: 40px auto 60px;
  letter-spacing: 3px;
  font-family: "Kdam Thmor Pro", sans-serif;
  text-shadow: 5px 5px 10px rgb(12, 9, 9), 5px 5px 5px rgb(0, 0, 0);
}

.list_head {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  overflow-wrap: break-word;
}

/* search */
.not_found {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.not_found .icon {
  opacity: 0.5;
  width: 60px;
  height: 60px;
}

.not_found .icon svg {
  width: 100%;
  height: 100%;
}

.not_found p {
  font-weight: 200;
  font-size: 22px;
  letter-spacing: 1px;
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
  .btn_box {
    width: 41.6667vw;
  }

  .btn_box button {
    font-size: 1.2vw;
    margin: 0.3472vw;
    padding: 0.3vw 0.8vw;
  }

  .title_txt {
    margin: 2.7778vw auto 4.1667vw;
    letter-spacing: 0.2083vw;
    text-shadow: 0.3472vw 0.3472vw 0.6944vw rgb(12, 9, 9),
      0.3472vw 0.3472vw 0.3472vw rgb(0, 0, 0);
  }
  /* search */
  .not_found {
    flex-direction: column;
    align-items: center;
    margin-top: 3.4722vw;
  }

  .not_found .icon {
    opacity: 0.5;
    width: 4.1667vw;
    height: 4.1667vw;
  }

  .not_found p {
    font-size: 1.5278vw;
    letter-spacing: 0.0694vw;
  }
}
@media screen and (max-width: 768px) {
  .btn_box {
    width: 93vw;
  }

  .btn_box button {
    font-size: 3.4vw;
    margin: 1vw;
    padding: 1.5vw 1.5vw;
  }

  .title_txt {
    margin: 5.2083vw auto 7.8125vw;
    letter-spacing: 0.3906vw;
    text-shadow: 0.651vw 0.651vw 1.3021vw rgb(12, 9, 9),
      0.651vw 0.651vw 0.651vw rgb(0, 0, 0);
    font-size: 5vw;
  }

  /* search */
  .not_found {
    flex-direction: column;
    align-items: center;
    margin-top: 6.5104vw;
  }

  .not_found .icon {
    opacity: 0.5;
    width: 7.8125vw;
    height: 7.8125vw;
  }

  .not_found p {
    font-size: 2.8646vw;
    letter-spacing: 0.1302vw;
  }
  .list_head {
    text-indent: 2vw;
    font-size: 5vw;
    margin-bottom: 3vw;
  }
}
