.modal_cnt {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(8, 8, 8, 0.842);
  z-index: 999999;
  overflow: hidden;
}

.modal_box {
  position: relative;
  overflow: auto;
  width: 100%;
  max-width: 600px;
  padding: 20px;
}
