.detail_cnt {
  position: relative;
  width: 1400px;
  margin: 0 auto;
  display: flex;
  font-family: "Kdam Thmor Pro", sans-serif;
  letter-spacing: 1px;
}
.img_poster {
  position: relative;
  width: 500px;
  height: 750px;
  z-index: 99;
}

.img_backdrop {
  position: relative;
  top: 0;
  width: 500px;
  height: 281px;
}

.movie_box {
  padding: 30px 40px 0;
}
.movie_info {
  position: relative;
}
.movie_info_header {
  display: flex;
  justify-content: space-between;
}
.movie_info_header_left {
  display: flex;
  flex-direction: column;
}

.movie_info_header_right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.movie_info h2 {
  font-size: 26px;
  letter-spacing: 2.5px;
}
.movie_info p {
  font-size: 16px;
}

.movie_info .movie_rate {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  text-align: center;
  background-color: rgb(3, 141, 88);
  text-shadow: 2px 2px 3px rgba(17, 15, 15, 0.616);
}
.cast_box {
  display: flex;
  flex-wrap: wrap;
}

.cast_info {
  width: 150px;
  text-align: center;
  margin: 0 8px 0 0;
}

.cast_img {
  position: relative;
  width: 100%;
  height: 200px;
}
.btn_box {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.like_btn {
  background-color: rgb(70, 68, 68);
  transition: background-color 0.3s ease;
}

.like_btn.liked {
  background-color: rgb(220, 53, 69);
}

.like_btn:hover:not(:disabled) {
  background-color: rgb(90, 88, 88);
}

.like_btn.liked:hover:not(:disabled) {
  background-color: rgb(200, 33, 49);
}

.like_btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.like_count {
  color: #fff;
  font-size: 14px;
  font-family: "Kdam Thmor Pro", sans-serif;
  letter-spacing: 1px;
}

.genres_box {
  margin-bottom: 60px;
}

.genres_box span {
  margin-right: 10px;
  font-size: 16px;
  border: 1px solid rgb(151, 146, 146);
  padding: 5px 10px;
}

.desc_txt {
  font-family: "ubentu", sans-serif;
  letter-spacing: 0.5px;
}
.cast_txt {
  font-size: 14px;
}
.cast_act {
  font-family: "ubentu", sans-serif;
  line-height: 1;
  font-size: 14px;
}

.cast_name {
  font-family: "ubentu", sans-serif;
  font-size: 12px;
}
/*  youtube*/
.youtube_edit {
  pointer-events: none;
}
.youtube_close {
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin: 10px;
  border: none;
  padding: 5px 10px;
  color: #fff;
  background-color: rgb(70, 68, 68);
  cursor: pointer;
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
  .detail_cnt {
    width: 97.2222vw;
    margin: 0 auto;

    font-family: "Kdam Thmor Pro", sans-serif;
    letter-spacing: 0.0694vw;
  }
  .img_poster {
    width: 34.7222vw;
    height: 52.0833vw;
  }

  .img_backdrop {
    top: 0;
    width: 34.7222vw;
    height: 19.5139vw;
  }

  .movie_box {
    padding: 2.0833vw 2.7778vw 0;
  }

  .movie_info h2 {
    font-size: 1.8056vw;
    letter-spacing: 0.1736vw;
  }
  .movie_info p {
    font-size: 1.1111vw;
  }

  .movie_info .movie_rate {
    top: -2.0833vw;
    right: 0;
    width: 3.4722vw;
    height: 3.4722vw;
    line-height: 3.4722vw;
    font-size: 1.5278vw;
    text-shadow: 0.1953vw 0.1953vw 0.293vw rgba(17, 15, 15, 0.616);
  }
  .cast_box {
    flex-wrap: wrap;
  }

  .cast_info {
    width: 10.4167vw;

    margin: 0 0.5556vw 0 0;
  }

  .cast_img {
    width: 100%;
    height: 13.8889vw;
  }
  .btn_box {
    margin: 2.0833vw 0;
  }

  .like_btn.liked {
    background-color: rgb(220, 53, 69);
  }

  .like_count {
    color: #fff;
    font-size: 0.9722vw;
    font-family: "Kdam Thmor Pro", sans-serif;
    letter-spacing: 0.0694vw;
  }

  .genres_box {
    margin-bottom: 4.1667vw;
  }

  .genres_box span {
    margin-right: 0.6944vw;
    font-size: 1.1111vw;
    border: 0.0694vw solid rgb(151, 146, 146);
    padding: 0.3472vw 0.6944vw;
  }

  .desc_txt {
    font-family: "ubentu", sans-serif;
    letter-spacing: 0.0347vw;
  }
  .cast_txt {
    font-size: 0.9722vw;
  }
  .cast_act {
    font-family: "ubentu", sans-serif;
    line-height: 1;
    font-size: 0.9722vw;
  }

  .cast_name {
    font-family: "ubentu", sans-serif;
    font-size: 0.8333vw;
  }
  /*  youtube*/
  .youtube_edit {
    pointer-events: none;
  }
  .youtube_close {
    cursor: pointer;

    left: 50%;
    transform: translate(-50%);
    margin: 0.6944vw;
    border: none;
    padding: 0.3472vw 0.6944vw;

    background-color: rgb(70, 68, 68);
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .detail_cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 0 auto;
    font-family: "Kdam Thmor Pro", sans-serif;
    letter-spacing: 0.1302vw;
  }
  .img_poster {
    width: 65.1042vw;
    height: 97.6563vw;
  }

  .img_backdrop {
    display: none;
  }

  .movie_box {
    padding: 3.9063vw 5.2083vw 0;
  }

  .movie_info h2 {
    text-align: center;
    font-size: 4vw;
    letter-spacing: 0.3255vw;
  }
  .movie_info p {
    font-size: 3.4vw;
  }

  .movie_info .movie_rate {
    top: -3.9063vw;
    right: 0;
    width: 7vw;
    height: 7vw;
    line-height: 7vw;
    font-size: 3.3vw;
    text-shadow: 0.2604vw 0.2604vw 0.3906vw rgba(17, 15, 15, 0.616);
  }
  .cast_box {
    flex-wrap: wrap;
  }

  .cast_info {
    width: 43vw;
    margin: 0 1.0417vw 0 0;
  }

  .cast_img {
    width: 100%;
    height: 50vw;
  }
  .btn_box {
    margin: 3.9063vw 0;
  }

  .like_btn.liked {
    background-color: rgb(220, 53, 69);
  }

  .like_count {
    color: #fff;
    font-size: 3.4vw;
    font-family: "Kdam Thmor Pro", sans-serif;
    letter-spacing: 0.1302vw;
  }

  .genres_box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7.8125vw;
  }

  .genres_box span {
    margin-right: 1.3021vw;
    font-size: 3.4vw;
    border: 0.1302vw solid rgb(151, 146, 146);
    padding: 0.651vw 1.3021vw;
  }

  .desc_txt {
    font-family: "ubentu", sans-serif;
    letter-spacing: 0.0651vw;
  }
  .cast_txt {
    font-family: "ubentu", sans-serif;
    font-size: 3.4vw;
    line-height: 1;
  }
  .cast_act {
    font-family: "ubentu", sans-serif;
    line-height: 1;
    font-size: 3.4vw;
  }

  .cast_name {
    font-family: "ubentu", sans-serif;
    font-size: 3.4vw;
  }
  /*  youtube*/
  .youtube_edit {
    width: 100vw !important;
    pointer-events: all;
  }
  .youtube_close {
    cursor: pointer;

    left: 50%;
    transform: translate(-50%);
    margin: 1.3021vw;
    border: none;
    padding: 0.651vw 1.3021vw;
    background-color: rgb(70, 68, 68);
    cursor: pointer;
  }
}
