.movie_outer_cnt {
  width: fit-content;
  margin: 0 auto;
}
.movie_cnt {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.movie_box {
  position: relative;
}

.movie_poster {
  position: relative;
  width: 250px;
  height: 375px;
  cursor: pointer;
  border: 3px solid transparent;
}
.movie_poster:hover {
  border: 3px solid rgb(29, 201, 135);
  box-shadow: 10px 10px 15px #000;
}
.movie_title {
  text-align: center;
  width: 250px;
  padding: 10px 20px;
  font-family: "Kdam Thmor Pro", sans-serif;
}
.movie_rate {
  position: absolute;
  top: 345px;
  right: 5px;
  background-color: rgb(3, 141, 88);
  display: inline-block;
  font-size: 14px;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border-radius: 25px;
  text-shadow: 2px 2px 3px rgba(17, 15, 15, 0.616);
  font-family: "Kdam Thmor Pro", sans-serif;
}

.movie_poster_empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #333131;
}
@media screen and (min-width: 769px) and (max-width: 1440px) {
  .movie_cnt {
    width: 90.2778vw;
  }

  .movie_box {
    width: 17.3611vw;
  }

  .movie_poster {
    width: 100%;
    height: 26.0417vw;
    border: 0.2083vw solid transparent;
  }
  .movie_poster:hover {
    border: 0.2083vw solid rgb(29, 201, 135);
    box-shadow: 0.6944vw 0.6944vw 1.0417vw #000;
  }

  .movie_title {
    width: 17.3611vw;
    height: 6.9444vw;
    font-size: 1.5278vw;
  }
  .movie_rate {
    top: 23.6111vw;
    right: 0.6944vw;

    font-size: 1.1111vw;
    width: 2.7778vw;
    height: 2.7778vw;
    line-height: 2.7778vw;

    border-radius: 1.7361vw;
    text-shadow: 0.1953vw 0.1953vw 0.293vw rgba(17, 15, 15, 0.616);
  }

  /* search */
  .search_head {
    margin: 0 auto 3.4722vw;
  }
}
@media screen and (max-width: 768px) {
  .movie_cnt {
    width: 100vw;
  }

  .movie_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 49vw;
  }

  .movie_poster {
    width: 100%;
    height: 48.8281vw;
    border: none;
  }
  .movie_poster:hover {
    border: none;
    box-shadow: none;
  }

  .movie_title {
    width: 45vw;
    word-wrap: break-word;
    height: auto;
    font-size: 3.4vw;
  }
  .movie_rate {
    top: -2vw;
    right: 5vw;
    font-size: 3.4vw;
    width: 7vw;
    height: 7vw;
    line-height: 7vw;
    border-radius: 3.5vw;
    text-shadow: 0.2604vw 0.2604vw 0.3906vw rgba(17, 15, 15, 0.616);
  }

  .list_head {
    margin: 0 auto 7vw;
    font-size: 5vw;
  }
  /* search */
  .search_head {
    margin: 0 auto 6.5104vw;
  }
}
