.detail_cnt {
  position: relative;
  width: 1400px;
  margin: 0 auto;
  border: 2px solid red;
  display: flex;
}
.img_poster {
  position: relative;
  width: 500px;
  height: 750px;
  z-index: 99;
}

.img_backdrop {
  position: relative;
  /* position: absolute; */
  top: 0;
  width: 500px;
  height: 281px;
}

.txt_box {
  padding: 0 40px;
  border: 2px solid blue;
}

.cast_box {
  border: 2px solid gold;
  display: flex;
  flex-wrap: wrap;
}

.cast_info {
  border: 2px solid red;
  width: 150px;
  text-align: center;
  margin: 0 8px 0 0;
}

.cast_img {
  position: relative;
  width: 150px;
  height: 200px;
}
