.nav {
  position: sticky;
  width: 100%;
  display: flex;
  top: 0;
  z-index: 99;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(22, 21, 21);
  padding: 20px;
  margin: 0 auto 30px;
}

.nav .nav_menu {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}

.nav .nav_menu a {
  padding: 10px;
  font-size: 16px;
  text-decoration: none;
  font-family: "Kdam Thmor Pro", sans-serif;
}
.nav .nav_menu a:hover {
  transition: 0.3s;
  color: rgb(29, 201, 135);
}
.nav .input_cnt {
  position: relative;
  display: flex;
  justify-content: center;
}

.nav .input_cnt input {
  font-family: "Kdam Thmor Pro", sans-serif;
  border: none;
  width: 200px;
  padding: 3px 10px;
  background-color: rgb(51, 49, 49);
  color: #fff;
  font-weight: 200;
  transition: none;
}

.nav .input_cnt button {
  position: absolute;
  width: 50px;
  height: 100%;
  top: 0;
  right: 0;
  border: none;
  line-height: 1;
  background-color: rgb(65, 65, 66);
  font-size: 22px;
  color: #fff;
  cursor: pointer;
  z-index: 9999;
  font-family: "Kdam Thmor Pro", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  pointer-events: auto;
  transform: translateZ(0);
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
  .nav {
    padding: 1.3889vw;
    margin: 0 auto 2.0833vw;
  }

  .nav .nav_menu a {
    padding: 0.6944vw;
    font-size: 1.1111vw;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(22, 21, 21);
    padding: 2.6042vw;
    margin: 1vw auto 3.9063vw;
  }

  .nav .nav_menu a {
    padding: 0vw;
    margin: 1vw;
    font-size: 3.2vw;
  }
}
