.nav {
  position: sticky;
  width: 100%;
  display: flex;
  top: 0;
  z-index: 99;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(22, 21, 21);
  padding: 20px;
  margin: 0 auto 30px;
}

.nav .nav_menu {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.nav .nav_menu a {
  padding: 10px;
  font-size: 16px;
  text-decoration: none;
  font-family: "Kdam Thmor Pro", sans-serif;
}
.nav .nav_menu a:hover {
  transition: 0.3s;
  color: rgb(29, 201, 135);
}

.nav .input_box {
  position: absolute;
  display: block;
  top: 25%;
  right: 1%;
  overflow: hidden;
  font-size: 16px;
  width: 250px;
  height: 30px;
}
.nav .input_box input {
  position: absolute;
  font-family: "Kdam Thmor Pro", sans-serif;
  border: none;
  float: right;
  background-color: rgb(51, 49, 49);
  color: #fff;
  font-weight: 200;
  transform: translate(+100%);
  padding: 5px 0;
  width: 0;
  transition: none;
}
.nav .input_box input.input_visible {
  transition: 1s;
  text-indent: 10px;
  padding-right: 70px;
  width: auto;
  transform: translate(0%);
}

.nav .input_box button {
  position: absolute;
  width: 50px;
  height: 100%;
  top: 0;
  right: 0;
  border: none;
  line-height: 1;
  background-color: rgb(65, 65, 66);
  font-size: 22px;
  color: #fff;
  cursor: pointer;
  z-index: 9999;
  font-family: "Kdam Thmor Pro", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  pointer-events: auto;
  transform: translateZ(0);
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
  .nav {
    padding: 1.3889vw;
    margin: 0 auto 2.0833vw;
  }

  .nav .nav_menu a {
    padding: 0.6944vw;
    font-size: 1.1111vw;
  }
  .nav .input_box {
    font-size: 1.1111vw;
    width: 17.3611vw;
    height: 2.4vw;
  }
  .nav .input_box input {
    padding: 0.3472vw 0;
    font-size: 1.1111vw;
  }
  .nav .input_box input.input_visible {
    text-indent: 0.6944vw;
    padding-right: 4.8611vw;
  }

  .nav .input_box button {
    width: 4.7vw;
    font-size: 1.5vw;
    padding: 0.3472vw 0.6944vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(22, 21, 21);
    padding: 2.6042vw;
    margin: 1vw auto 3.9063vw;
  }

  .nav .nav_menu a {
    padding: 0vw;
    margin: 1vw;
    font-size: 3.2vw;
  }

  .nav .input_box {
    display: flex;
    width: auto;
    align-items: center;
    top: -10%;
    right: 4%;
    height: 8vw;
    margin: 2vw auto 0;
  }
  .nav .input_box input {
    position: relative;
    padding: 0.651vw 9vw 0.651vw 0;
    font-size: 3.5vw;
    width: 35vw !important;
    height: 5vw;
    line-height: 1;
    transform: none;
    text-indent: 1vw;
  }

  .nav .input_box button {
    position: relative;
    width: 8vw;
    height: 8vw;
    line-height: 8vw;
    padding: 0;
    margin: 0;
    font-size: 3.5vw;
    z-index: 9999;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
}
