.nav {
  background-color: rgb(22, 21, 21);
  padding: 20px;
  margin: 0 auto 30px;
  display: flex;
  justify-content: space-between;
}

.nav .nav_menu a {
  padding: 10px;
  text-decoration: none;
  font-family: "Kdam Thmor Pro", sans-serif;
}

.nav .input_box input {
  font-family: "Kdam Thmor Pro", sans-serif;

  border: none;
  padding: 5px;
  background-color: rgb(51, 49, 49);
  color: #fff;
  font-weight: 200;
}

.nav .input_box button {
  border: none;
  padding: 5px 10px;
  background-color: rgb(65, 65, 66);
  color: #fff;
  cursor: pointer;
  font-family: "Kdam Thmor Pro", sans-serif;
}
